##### sklearn.model_selection.StratifiedKFold
##### class sklearn.model_selection.StratifiedKFold(n_splits=5, *, shuffle=False, random_state=None)
##### 불균형한 DataSet을 위한 KFold방법이다. 균형있게 나눈다고 생각할 수 있음
##### 교차 검증이라는 것 자체를 알고리즘을 다르게 해서 할 수 있음

In [3]:
from sklearn.model_selection import StratifiedKFold
import numpy as np
from sklearn.datasets import load_iris
import pandas as pd

In [4]:
iris=load_iris()

In [5]:
import pandas as pd

iris_df=pd.DataFrame(data=iris.data,columns=iris.feature_names)
iris_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [6]:
iris_df['label']=iris.target #레이블 0,1,2로 나오는 것들 붙여 줌
iris_df['label'].value_counts()

0    50
1    50
2    50
Name: label, dtype: int64

In [7]:
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [8]:
from sklearn.model_selection import StratifiedKFold 


skf= StratifiedKFold(n_splits=3) #똑같이 3개로 나눠서 정해줌
n_iter=0

for train_index,test_index in skf.split(iris_df,iris_df['label']):
    n_iter +=1
    label_train =iris_df['label'].iloc[train_index]
    label_test=iris_df['label'].iloc[test_index]
    print(f'#{n_iter} 교차 검증  {0}')
    print('학습 레이블 데이터 분포:\n', label_train.value_counts())
    print('검증 레이블 데이터 분포:\n', label_test.value_counts())

#1 교차 검증  0
학습 레이블 데이터 분포:
 2    34
0    33
1    33
Name: label, dtype: int64
검증 레이블 데이터 분포:
 0    17
1    17
2    16
Name: label, dtype: int64
#2 교차 검증  0
학습 레이블 데이터 분포:
 1    34
0    33
2    33
Name: label, dtype: int64
검증 레이블 데이터 분포:
 0    17
2    17
1    16
Name: label, dtype: int64
#3 교차 검증  0
학습 레이블 데이터 분포:
 0    34
1    33
2    33
Name: label, dtype: int64
검증 레이블 데이터 분포:
 1    17
2    17
0    16
Name: label, dtype: int64

In [9]:
####K폴드와 비교
from sklearn.model_selection import KFold
kfold = KFold(n_splits=3)
n_iter = 0
for train_index,test_index in kfold.split(iris_df):
           n_iter +=1
           label_train = iris_df['label'].iloc[train_index]
           label_test = iris_df['label'].iloc[test_index]
           print(f'#{n_iter} 교차 검증  {0}')
           print('학습 레이블 데이터 분포:\n', label_train.value_counts())
           print('검증 레이블 데이터 분포:\n', label_test.value_counts())
#케이폴드로 했을 때 학습이 더 잘 될 수도 있음
#케이폴드를 사용했을 때 데이터가 치우쳐져있음.
#데이터가 한쪽에 치우쳐져있어 satisfied폴드 검증 방법은 레이블 값을 비교하면서 
# 적절하게 섞으면서 해줌

#1 교차 검증  0
학습 레이블 데이터 분포:
 1    50
2    50
Name: label, dtype: int64
검증 레이블 데이터 분포:
 0    50
Name: label, dtype: int64
#2 교차 검증  0
학습 레이블 데이터 분포:
 0    50
2    50
Name: label, dtype: int64
검증 레이블 데이터 분포:
 1    50
Name: label, dtype: int64
#3 교차 검증  0
학습 레이블 데이터 분포:
 0    50
1    50
Name: label, dtype: int64
검증 레이블 데이터 분포:
 2    50
Name: label, dtype: int64